.lineup {
    background-color: #0062ff;
    margin: 15% 35%;
    border-radius: 20px;
}
.ln2 {
    padding: 2% 24%;
}
.text-ln {
    margin-bottom: 1em;
}
.btn-sign {
    background-color: #5d6a94;
    border-color: #5d6a94;
    color: #fff;
}
.h3 {
    color: white;
}
